<%= form_with(model: quiz_form) do |form| %>
  <% if quiz_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz_form.errors.count, "error") %> prohibited this quiz_form from being saved:</h2>

      <ul>
        <% quiz_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
