<p id="notice"><%= notice %></p>

<h1>Quiz Forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_forms.each do |quiz_form| %>
      <tr>
        <td><%= quiz_form.name %></td>
        <td><%= link_to 'Show', quiz_form %></td>
        <td><%= link_to 'Edit', edit_quiz_form_path(quiz_form) %></td>
        <td><%= link_to 'Destroy', quiz_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz Form', new_quiz_form_path %>
